<form action="/characters/create" method="post">

  <label>Create a char</label>
  <br />
  <input type="text" name="name" />
  <br />
  <label>Choose a occupation</label>
  <br />
  <input type="text" name="occupation" />
  <br />
  <label>Debt or no debt?</label>
  <br />

  <input type="radio" name="debt" value="true" />
  <label> True</label>
  <br />
  <input type="radio" name="debt" value="false" />
  <label> False</label>
  <br />
  <label>Choose a weapon</label>
  <br />
  <input type="text" name="weapon" />
  <button type="submit">Submit</button>

</form>