<form action="/characters/{{character.id}}/update" method="post">

  <label>update a char</label>
  <br />
  <input type="text" name="name" />
  <br />
  <label>update an occupation</label>
  <br />
  <input type="text" name="occupation" />
  <br />
  <label>Debt or no debt?</label>
  <br />

  <input type="radio" name="debt" value="true" />
  <label> True</label>
  <br />
  <input type="radio" name="debt" value="false" />
  <label> False</label>
  <br />
  <label>update weapon</label>
  <br />
  <input type="text" name="weapon" />
  <button type="submit">UPDATE! :D</button>
</form>